.container {
    background-color: #f5f5f5;
    height: 100%;
    width: 250px;
}

.header {
    width: 100%;
    display: flex;
    padding: 40px 20px 48px 20px;
    gap: 12px;
    align-items: center;
    
}
.header h2 {
    font-size: 15px;
    color: #666;
    font-weight: 500;
}

@media (max-width:1860px) {
    
}

.ul{

   
}

.ul li {
    display: flex;
    list-style: none;
    align-items: center;
    width: 250px;
    height: 51px;
    cursor: pointer;
    padding-right: 20px;
    justify-content: space-between;
}

.liWrapper {
    display: flex;
    align-items: center;
}

.selector {
    content: "";
    display: flex;
    background-color: #3483fa;
    height: 51px;
    width: 5px;
    opacity: 0;
}

.selector:hover {
    opacity: 1;
}

.ul li h3 {
    font-size: 13px;
    font-weight: 400;
    color: #666;
    padding: 0 92px 0 15px;
}