:root {
  /*PRIMARY*/
  --Cyan: hsl(180, 66%, 49%);
  --DarkViolet: hsl(257, 27%, 26%);
  /*SECONDARY*/
  --Red: hsl(0, 87%, 67%);
  /*NEUTRAL*/
  --Gray: hsl(0, 0%, 75%);
  --GrayishViolet: hsl(257, 7%, 63%);
  --VeryDarkBlue: hsl(255, 11%, 22%);
  --VeryDarkViolet: hsl(260, 8%, 14%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: hsl(0, 5%, 92%);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

li {
  display: inline-block;
  list-style: none;
  margin: 30px;
  color: var(--GrayishViolet);
  font-weight: 700;
}

li:hover {
  cursor: pointer;
  color: var(--VeryDarkBlue);
}

button {
  border-style: none;
  background-color: var(--Cyan);
  border-radius: 20px;
  cursor: pointer;
  color: white;
  padding: 10px;
}

button:hover {
  background-color: rgb(141, 209, 209);

}


main {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  
}

main h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 80px;
  color: var(--VeryDarkBlue);
  margin-bottom: 5px;
}

main p {
  color: var(--GrayishViolet);
  width: 500px;
}

main button {
  margin-top: 40px;
  padding: 10px 30px;
  margin-bottom: 300px;
}

.hero-izq {
  width: 800px;
  margin-top: 100px;
  margin-left: 50px;
}

form {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding: 70px 30px;
  background-color: darkmagenta;
  width: 90%;
  border-radius: 10px;
  margin: -100px auto;
}

form button {
  margin-left: 20px;
  border-radius: 10px;
  padding: 10px 30px;
}

input {
  width: 60%;
  border-radius: 10px;
}

input::placeholder {
  padding: 0 25px;
}



