html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: 250px;
  height: 250px;
}

button {
  border: 2px solid rgb(43, 122, 197);
  padding: 15px 20px;
  border-radius: 10px;
  background-color: rgb(77, 119, 158);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;

}

nav {
  display: flex;
  justify-content: end;
}

nav p {
  padding: 15px;
  cursor: pointer;
  color: white;
  background-color: rgb(116, 116, 116);
}





ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 10px;
  padding: 20px;
  background-color: rgb(228, 228, 228);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

li button {
  justify-content: flex-end;
}

.btns{ 
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

li h4 {
width: 250px;
}

li p {
  font-size: 1.4em;
  color: rgb(23, 143, 23);
  font-weight: bold;
}

