.notes__main-contet {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.notes__appbar {
    align-items: center;
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}