:root {
    --active: rgb(153, 67, 179);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


/*NAV BAR*/

nav {
    
    width: 500px;
    margin-left: 70vw;
    font-size: 2vh;
    padding-top: 1.5vh;
    font-weight: 500 ;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
}

nav li {
    -webkit-transition: all 1s ease;
    transition: all 0.6s ease;
}

nav li:hover {
    cursor: pointer;
    color: var(--active);

    /*COLOR PRINCIPAL CON EASE IN OUT*/
}

/* HEROE TITULO*/

.hero {
    height: 100vh;
}

.videoBG {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    opacity: 0.9;
}

.title__hero {
    position: absolute;
    top: 29vh;
    font-size: 4vh;
    width: 45vw;
    margin-left: 3vw;
    color: white;
}

.title__hero span {
    color: var(--active);
}

.footer__hero{ 
    position: absolute;
    background-color: rgb(39, 37, 46);
    height: 15vh;
    width: 100%;
    bottom: 0;
}

.footer__hero ul {
    display: flex;
    justify-content: center;
}

.footer__hero li {
    display: inline-block;
    margin: 25px 150px;
    
}

.footer__hero img{
    width: 105px;
    opacity: 0.5;
}

img {
    -webkit-transition: all 1s ease;
    transition: all 0.6s ease;
}

img:hover {
    opacity: 1;
    cursor: pointer;

}