:root {
  --DarkBlue: hsl(209, 23%, 22%); /*(Dark Mode Elements)*/
  --VeryDarkBlueBack: hsl(207, 26%, 17%); /*(Dark Mode Background)*/
  --VeryDarkBlueText: hsl(200, 15%, 8%); /*(Light Mode Text)*/
  --DarkGray: hsl(0, 0%, 52%); /*(Light Mode Input)*/
  --VeryLightGray: hsl(0, 0%, 83%); /*(Light Mode Background)*/
  --White: hsl(0, 0%, 100%); /*(DarkMode Text & Light Mode Elements)*/
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--VeryDarkBlueBack);
  color: white;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px 5px 0 0;
}

.nav {
  height: 4rem;
  background-color: var(--DarkBlue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav h2{
  margin-left: 3rem;
}

.nav p {
  margin-right: 3rem;
}

input {
  border-style: none;
  padding: 0.8rem;
  margin: 2rem 0 2rem 3rem;
  width: 25rem;
  background-color: var(--DarkBlue);
}

::placeholder {
  color: var(--VeryLightGray);
  padding-left: 3rem;
  display: flex;
  align-items: center;
}

textarea:focus, input:focus {
  color:var(--VeryLightGray);
}


/*FILTER*/

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

select {
  border-style: none;
  padding: 0.8rem;
  margin: 2rem 3rem 2rem 0;
  width: 10rem;
  background-color: var(--DarkBlue);
  color: var(--VeryLightGray);
}


/*CARDS*/

.card {
  background-color: var(--DarkBlue);
  width: 400px;
  height: 450px;
}



.details {
  padding: 20px;
  margin-top: -10px;
  border-radius: 0 0 5px 5px;
}

.grid {
  margin:0 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  
}

.grid article {
  box-shadow: 0 10px 10px rgba(32,45,54, 0.5);
}

.grid h3 {
  margin-bottom: 10px;
}

.grid p {
  line-height: 25px;
  font-weight: 600;
}

.grid span {
  color: var(--DarkGray);
  margin-left: 5px;
  font-weight: 300;
}





@media (min-width: 540px) {
  .grid {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width: 992px) {

  .grid {
    grid-template-columns: repeat(3,1fr);
  }
}