:root {
    --paleBlue:hsl(225, 100%, 94%);
    --brightBlue:hsl(245, 75%, 52%);
    --veryPaleBlue:hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Red Hat Display", sans-serif;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--paleBlue);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--Desaturatedblue);
}


.container h1 {
    color: var(--Darkblue);
    margin: 20px 0;
    font-size: 2.5rem;
}

.bg__image {
    
    background:url("/images/pattern-background-mobile.svg") no-repeat center/cover;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.container {
    background-color: white;
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px  hsl(228, 45%, 44%, 0.15);
}

.container p.desc {
    padding: 0 30px;
}

.container img.hero {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.container .pricing {
    margin: 30px auto;
    padding: 10px;
    background-color: var(--veryPaleBlue);
    width: 90%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container .pricing article {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .pricing article img {
    margin-right: 10px ;
}

.pricing h4 {
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-change {
    background-color: transparent;
    color: var(--brightBlue);
    text-decoration: underline;
    font-size: 1.5rem;
}

.btn-primary {
    background-color: var(--brightBlue);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-primary:hover, .btn-change:hover {
    opacity: 0.8;
}

.btn-secondary {
    background-color: transparent;
    color: var(--Desaturatedblue);
}

.btn-secondary:hover {
    color: hsl(223, 47%, 23%);
}

@media (min-width:375px) {
    .bg__image {
        background: url(/images/pattern-background-desktop.svg) no-repeat center/cover;
        height: 50vh;
    }

    .container {
        width: 500px;
        
    }
}