
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1e1d23;


}

.index {
  height: 100vh;
}

.fulloverview {
  display: flex;
  gap: 20px;
}

.dashboard {
  display: grid;
  grid-template-areas:
    "prices prices"
    "marketoverview sellorder"
    "activities historyorder";
  gap: 20px;
}



/* .turqoise {
  width: 45vw;
  height: 50vh;
  border-radius: 50%;
  background-color: rgba(0, 255, 255, 0.63);
  overflow: hidden;
  filter: blur(200px);
  margin-top: -150px;
  z-index: -9999;
} */


/*NAV*/
/*NAV*/
/*NAV*/

nav {
  display: flex;
  justify-content: space-between;
  height: 3em;
  align-items: center;
  background-color: rgba(235, 159, 19, 0.801);
  z-index: 9999;
}

.nav-izq {
  display: flex;
  justify-content: space-between;
  gap: 40px ;
  align-items: center;

}

.nav-izq h1 {
  text-align: center;
  font-size: 3.5vh;

}

.nav-der {
  display: flex;
}

.nav-search {
  border-radius: 20px;
  border-style: none;
  height: 35px;
  padding: 15px;

}

.nav-search:focus {

  border-style: none;
  outline: none;
}

.nav-searchIcon {
  position: absolute;
  margin-left: 10px;
  margin-top: 9px;
}

.nav-search::placeholder {

  padding: 20px;
}

.nav-icons ul {
  display: flex;
  justify-content: space-between;
  list-style:none;
  gap: 12px;

}

.nav-user {
  display: flex;
}

.nav-li {
  color: #a8a8a8;
  background-color: #1e1d23;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  cursor: pointer;
}

.msg::after {
  border-radius: 50%;
  border: 3px solid #1e1d23;
  background-color: #e42b2b;
  width: 8px;
  height: 8px;
  position: absolute;
  content: "";
  margin-left: 10px;
  margin-top: -2px;
}



/*SIDEBAR*/
/*SIDEBAR*/
/*SIDEBAR*/

.sidebar {
  height: 100%;
  width: 400px;
  background-color: orange;
}

.sidebar-menu {

  background-color: rgb(214, 173, 97);
}

.sidebar-service {

  background-color: rgb(97, 70, 21);
}


/*MARKET OVERVIEW*/
/*MARKET OVERVIEW*/
/*MARKET OVERVIEW*/


.marketoverview {
  width: 600px;
  background-color: #e42b2b;
  height: 50vh;
  grid-area: marketoverview;
}

/*SELL ORDER*/
/*SELL ORDER*/
/*SELL ORDER*/

.sellorder {
  height: 50vh;
  background-color: black;
  width: 500px;
  grid-area: sellorder;
}

/*RECENT ACTIVITIES*/
/*RECENT ACTIVITIES*/
/*RECENT ACTIVITIES*/

.activities {
  width: 600px;
  height: 20vh;
  background-color: aqua;
  grid-area: activities;
}




/*HISTORY ORDER*/
/*HISTORY ORDER*/
/*HISTORY ORDER*/

.historyorder {
  width: 600px;
  height: 20vh;
  background-color: aqua;
}

/*PRICE*/
/*PRICE*/
/*PRICE*/

.prices {

  height: 200px;
  background-color: aquamarine;
  grid-area: prices;
}