:root {
   /*Primary*/

--intro: hsl(217, 28%, 15%);
--main: hsl(218, 28%, 13%);
--footer: hsl(216, 53%, 9%);
--testimonials: hsl(219, 30%, 18%);

/*Accent*/

--Cyan: #65e2d9;
--Blue: #339ecc;
--Light: hsl(0, 100%, 63%);
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #8f54a0 #1b2330;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #1b2330;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px none #ffffff;
  }


*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    color: var(--Cyan);
    background:#8f54a0 ;
}

body {
    color: white;
    font-size: 62.5%;
    font-family: "Open sans", sans-serif;
    background-color: var(--main);
}

nav {
    style:none;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: 1rem;
}

nav ul  {
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}

nav ul li {
    display: flex;
    padding-left: 50px ;
}

a {
    color: inherit;
}

header {
    background-color: var(--intro);
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
}

.btn:hover {
    cursor: pointer;
    opacity: .8;
}

.btn {
    border-style: none;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right bottom, #65e2d9, #49d2da, #33c1d8, #2bb0d4, #339ecc);
    font-weight: 400;
    color: white;
    font-size: 1.2rem;
}

.content .btn {
    padding: 15px 60px 15px;
    margin: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    text-align: center;
    
}

.content h1 {
    margin: 20px;
    text-align: center;
}

.content p {
    width: 600px;
    font-size: 1.2rem;
}

.imgmain{
    width: 700px;
    display: flex;
    margin: auto;
}

.middle {
    background-color: var(--main);
    display: grid;
    grid-template: repeat(2,1fr)/ repeat(2,1fr);
    margin-bottom: 150px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 40px;
    width: 500px;
    text-align: center;
}


#secur {
    height: 110px;
    width: 90px;
}


.box img {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px ;
}

.box p {
    font-size: 1.2rem;
}

.box h3{
    margin-bottom:5px ;
    font-size: 1.4rem;
}

#wave-background {
    background-image: url(/images/bg-curvy-desktop.svg) no-repeat cover;
}


article {
    background-color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom:150px ;
}

.productive {
    margin-left: 100px;
}

.productive h2 {
    font-size: 2.1rem;
    width: 300px;
    margin-bottom:10px ;
}

.productive p {
    width: 500px;
}

.productive p:first-of-type {
    font-size: 1rem;
    margin-bottom: 15px;
}

.productive p:last-of-type {
    font-size: 1rem;
}

.productive button {
    font-size: 1rem;
    color: var(--Cyan);
    margin-top: 30px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    border-bottom:solid 1px var(--Cyan) ;
    display: flex;
    padding:5px ;
    width: 175px;
}

.productive button:hover {
    color: white;
    border-bottom: solid 1px white;
}

.productive button img {
    margin-left: 5px;
}

.productive button img:hover {
    color: white;
}


.testimonial {
    /* background-color: var(--main); */
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px; ;
    
}

.testimonial #quote {
    display: flex;
    align-self: start;
    flex-direction: row-reverse;
    position: absolute;
    z-index: -1;
    left: 140px;
    

}

.person img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.boxT {
    background-color: var(--testimonials);
    padding: 40px 30px 20px 30px;
    margin: 20px;
    height: 250px;
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

.boxT p {
    font-size: 1.1rem;
    margin-bottom: 30px;

}

.boxT .satish:before {


}

.person  { 
display: flex;
align-items: center;

}

.ceo {
margin-left: 10px;
display: flex;
flex-direction: column;
}

.person h4 {
    font-size: 0.9rem;
}

.person span {
    font-size: 0.7rem;
}

.person h4 span {


}



.action {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 250px;
    border-radius: 10px;
    background-color: var(--intro);
    flex-direction: column;
    text-align: center;
    position: relative;
    left: 26%;
    padding: 40px;
    top: 10px;
}

.action h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.action p {
    font-size: 0.8rem;
    margin-bottom: 20px;
    margin: 0 70px 30px ;
}



.action input {
    height: 40px;
    width: 500px;
    border-radius:50px ; 
    padding: 25px;
    border-style:none ;
}

.action button {
    background-image: linear-gradient(to right bottom, #65e2d9, #49d2da, #33c1d8, #2bb0d4, #339ecc);
    border-radius: 50px;
    padding: 20px 40px;
    border-style: none;
    color: white;
    font-weight: 700;
    margin-left: 40px;
    cursor: pointer;
}

.action button:hover {
    opacity: .7;
}

.footer {
    background-color:var(--footer);


}