:root {
  --DarkBlue: hsl(209, 23%, 22%); /*(Dark Mode Elements)*/
  --VeryDarkBlue: hsl(207, 26%, 17%); /*(Dark Mode Background)*/
  --VeryDarkBlue: hsl(200, 15%, 8%); /*(Light Mode Text)*/
  --DarkGray: hsl(0, 0%, 52%); /*(Light Mode Input)*/
  --VeryLightGray: hsl(0, 0%, 98%); /*(Light Mode Background)*/
  --White: hsl(0, 0%, 100%); /*(DarkMode Text & Light Mode Elements)*/
}



body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
