*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


#elem {

    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    margin: 50px;
}

.box {
    width: 200px;
    height: 250px;
}

.box img:hover {
    transform: scale(1.5);
    
}